body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    margin-top: 65px;
    padding: 30px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 65px;
    background-color: #FF9313;
}

header * {
    display: inline;
}
header img {
    border-radius: 10px;
    vertical-align: middle;

}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: sticky; check if works */
}

header li {
    margin: 0px 20px;
    
} 
header li a {
    text-decoration: none; 
}



