:root {
    --black: #272727;
    --borderBox: rgba(118, 212, 222, 0.2)
  }
  
  html {
    box-sizing: border-box;
    /*System font stack for platforms */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 900;
    font-size: 10px;
    color: var(--black);
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    background-image: url("../images/background.svg");
    background-size: 340px, auto;
    min-height: calc(100vh - 100px);
    background-attachment: fixed;
    letter-spacing: -1px;
    margin: 0;
  }
  
  nav {
    display: grid;
    grid-template-columns: repeat(4, minmax(50px, 100px)) 1fr repeat(3, minmax(50px,100px));
    grid-auto-rows: auto;
    grid-gap: 1em;
    align-items: center;
    text-align: center;
    background: linear-gradient(110deg, #9DACB2, #A5CCD1);
    border-radius: 5px;
  }
  
  
  nav div {
      display: grid;
      align-items:  center;
      padding: 5px;
  }
  
  
  @media screen and (max-width: 550px) {
    nav {
      grid-template-columns: 100%;
      grid-template-rows: auto;
      grid-gap: 1em;
   }
  }  

  .login {
      grid-column: -2;
  }
  .profile {
      grid-column: -3;
  }
  .new {
    grid-column: -4;
  }

  .profile img,
  .new img {
    border-radius: 5px;
  }
  .navLinks {
    font-family: sans-serif;
    font-size: 1.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
  }
  
  .navLinks:hover {
    color: white;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 5px 0;
  }



.banner {
    display: block;
}
.alert-box {
    color:#555;
    border-radius:10px;
    font-family:Tahoma,Geneva,Arial,sans-serif;
    font-size:15px;
    padding:10px;
    margin: 0px 10px;
}

.error {
    background-color:#ffecec;
    border:1px solid #f5aca6;
}
.success {
    background-color:#e9ffd9;
    border:1px solid #a6ca8a;
}
.warning {
    background-color:#fff8c4;
    border:1px solid #f2c779;
}
.notice {
    background-color:#e3f7fc;
    border:1px solid #8ed9f6;
}