#error-form {
    text-align: center;
}
form.page-error {
    display: inline-block;
}
form.page-error li {
    display: inline-block;
}
form.page-error li img {
    width: 400px;
    height: 400px;
    margin: 0 50px 30px 0px;
    border: 1px solid 008CBA;
    border-radius: 5px;
}

ul {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 5px rgba(0 , 0, 0, 0.1);
    border-radius: 5px;
}

h4 {
    font-size: large;
}

.description {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 5px rgba(0 , 0, 0, 0.1);
    border-radius: 5px;
    font-weight: bold;
    font-size: large;
    background: red;
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet);
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button-link {
    background-color: #008CBA;
    text-decoration: none;
    appearance: button;
    font-size: 16px;
    padding: 10px 24px;
    border-radius: 4px;
    color: white;
    margin: 20px;   
}
