#error-form {
    text-align: center;
}
form.page-error {
    display: inline-block;
}
form.page-error li {
    display: inline-block;
}
form.page-error li img {
    width: 400px;
    height: 400px;
    margin: 0 50px 30px 0px;
    border: 1px solid 008CBA;
    border-radius: 5px;
}

ul,
.button-link {
    background: var(--borderBox);
    box-shadow: 0 0 5px rgba(0 , 0, 0, 0.1);
    border-radius: 5px;
}

 h4 {
    font-size: large;
}

h3 {
    color: #D39B9B;
    font-size: 50px;
}


.button-link {
    background-color: #008CBA;
    text-decoration: none;
    appearance: button;
    font-size: 16px;
    padding: 10px 24px;
    border-radius: 4px;
    color: white;
    margin: 20px;   
}
