* {
  box-sizing: border-box;
}


h1,
.login,
.account,
.contact {
  width: 80%;
  margin: 0 auto;
}
/* overall container grid */
.form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.8fr;
  justify-items: center;
  align-items: center;
}
/* internal form styling */
.container {
  width: 100%;
  margin-top: 30px;
}
/* styling for larger screens */
@media (min-width: 550px) {
  .container {
    grid-template-columns: repeat(2, minmax(150px, 30%));
    width: 50%;
    margin-top: 30px;
  }

  h1,
  .login {
    grid-column-end: span 2;
    width: auto;
  }

  .login>div {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
  }

  .login>div.actions {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .account {
    border: 1px dotted rgb(191, 216, 227);
    padding: 0 10px 0 0;
    align-self: center;
    justify-self: center;
    width: auto;
  }

  .contact {
    padding: 0 0 0 10px;
    width: auto;
  }

  input[type="submit"] {
    grid-column: 2;
  }

  .actions a {
    justify-self: end;
  }
}
/* generic box styling for elemetns */
.container h1 {
  background-color: rgba(191, 216, 227, 0.8);
  border-radius: 5px;
  padding: 10px;
  line-height: 1.4;
  text-align: center;
}

.login,
.textarea {
  background-color: rgba(191, 216, 227, .4);
  border: 1px solid rgba(191, 216, 227, .8);
  border-radius: 5px;
  padding: 20px;
}

.smaller-textarea {
  display: none;
}


.add-poll input[type="button"],
#options-_-date,
input[type="time"] {
  grid-column: 1;
  margin: 5px;
}

.remove-time {
  margin: 10px;
  width: 60%;
}

.textarea {
  margin-top: 30px;
  margin-bottom: 30px;
  width: fixed;
}

.account {
  background-color: rgba(191, 216, 227, .4);
  border: 1px solid rgba(191, 216, 227, .8);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.login>div {
  padding: 5px 0;
}

input[type="submit"],
#submit {
  border: 1px solid rgba(191, 216, 227, .8);
  border-radius: 5px;
  color: #fff;
  background-color: rgb(54, 134, 169);
  font-size: 200%;
}

input[type="submit"]:hover,
#submit:hover {
  background-color: #fff;
  color: rgb(54, 134, 169);
}

input[type="text"],
input[type="password"] {
  border: 1px solid rgba(191, 216, 227, .8);
  padding: 5px;
  border-radius: 5px;
  font-size: 110%;
  width: 100%;
}