<div class = "poll">
    <div class="graph">
            <span class="graphRowLabel">100</span>
            <span class="graphRowLabel">90</span>
            <span class="graphRowLabel">80</span>
            <span class="graphRowLabel">70</span>
            <span class="graphRowLabel">60</span>
            <span class="graphRowLabel">50</span>
            <span class="graphRowLabel">40</span>
            <span class="graphRowLabel">30</span>
            <span class="graphRowLabel">20</span>
            <span class="graphRowLabel">10</span>
            <!-- insert bars-->
            <span><sup>Y </sup>&frasl;<sub> X</sub></span>
            <!-- labels-->
    </div>
    <div class="poll__details">
        <h2>{{poll.title}}</h2>
        <p class = "poll__desc">{{ poll.description }}</p>
        <a href = "{{url_for('poll', id = poll.id)}}" class = "poll__vote">Vote</a>
    </div>
</div>