{% extends "base.html" %}
{% block content %}
<div id = "errors">
</div>
<script src="{{url_for('static', filename = 'scripts/create-poll.js')}}"></script>
<style>
    .is-hidden {
        display: none;
    }
</style>
<form method="POST" action="" enctype="multipart/form-data">
   {{ form.hidden_tag() }}
   <button type = "button" class = "add">Add Option</button>
   <button type = "button" class = "remove">Remove Option</button>
   <div id = "subforms-container">
       {% for option in form.options %}
            <div id = "option-{{ loop.index0 }}" class = "subform" data-index = "{{ loop.index0 }}">
                {{ option.date.label }}
                <br>
                {{ option.date }}
                <br>
                {{ option.time.label }}
                <br>
                {{ option.time }}
            </div>
        {% endfor %}
   </div>
   {% for error in form.errors %}
        <span class = "alert-box error">{{error }}</span>
   {% endfor %}
   {{ form.submit }}
   {{ data }}
   {{form.errors}}
</form>

<div id="options-_" class="is-hidden" data-index="_">
    <br>
    <label for="options-_-date">Select a date</label>
    <br>
    <input id="options-_-date" name="options-0-date" type="date" value="">
    <br>
    <label for="options-_-time">Select a time</label>
    <br>
    <input id="options-_-time" name="options-0-time" type="time" value="">
    <br>
    <br>
</div>







{% endblock %}