{% extends "base.html" %}

{% block content %}     
    <div class="form">
        <div class="container">
            <div class="login">
                <h1>Create a new poll </h1>
                <label for="title">Title: </label>
                <br>
                <input type="text" id="title" required>
                <br>
                <label for="description"> Description </label>
                <br>
            </div>
            <div class="textarea">
            <textarea cols = "50" rows="4" id="description"></textarea>
                <br>
                <br>
            </div>
            <div class="login">
                <label for="expiry_date">Select the date you want your poll to expire</label>
                <br>
                <input type="date" id="expiry_date">
                <br>
                <br>
                <br>
                <label for="options_limit">Select how many options you want respondents to be able to vote for:
                </label>
                <br>
                <select id="options_limit">
                    <option value="-1">Don't care</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                </select>
                <h3>Create options for your poll</h3>
                <button type="button" class="add-date">Add date</button>
                <button type="button" class="remove-date">Remove date</button>
                <div id="subform-container">

                </div>
                <div class="actions">
                    <button type="button" id="submit">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <div id="options-_" class="is-hidden" data-index="_">
        <br>
        <input id="options-_-date" name="options-__-date" required type="date" value="">
        <br>
        <br>
        <button type="button" class="add-time">Add time</button>
        <button type="button" class="remove-time">Remove time</button>
        <br>
    </div>
{% endblock %}