{% extends "base.html" %}
{% block content %}
    <h1>{{poll.title}}</h1>
    <p>{{poll.description}}</p>
    <form action = "" method = "POST">
        {{ form.hidden_tag() }}      
        <ul>
            {%  for field in form %}
                {% if field.type == "BooleanField" %}
                    <li>{{ field.label }}
                        {% if current_user.is_authenticated %} 
                            {{field}} </li>
                        {% endif %}
                {% endif %}
            {% endfor %}
            
        </ul> 
        {% if current_user.is_authenticated  %}
            {{form.submit}}
        {% endif %}
    </form>
{% endblock %}  