{% extends "base.html" %}
{% block content %}
    <div id = "references">
        <h1>References:</h1> 
        <br>
        <h2>A big thank you to the creators of the following technologies that were used to build this project:</h2>
        <div class = "list">
            <ul>
                    <li>alembic</li>
                    <li>asn1crypto</li>
                    <li>astroid</li>
                    <li>Babel</li>
                    <li>backports.functools-lru-cache</li>
                    <li>blinker</li>
                    <li>certifi</li>
                    <li>chardet</li>
                    <li>Click</li>
                    <li>configparser</li>
                    <li>coverage</li>
                    <li>cryptography</li>
                    <li>dateparser</li>
                    <li>decorator</li>
                    <li>enum34</li>
                    <li>Flask</li>
                    <li>Flask-Babel</li>
                    <li>Flask-Login</li>
                    <li>Flask-Mail</li>
                    <li>Flask-Migrate</li>
                    <li>Flask-Moment</li>
                    <li>Flask-OpenID</li>
                    <li>Flask-ReCaptcha</li>
                    <li>Flask-SQLAlchemy</li>
                    <li>Flask-WhooshAlchemy</li>
                    <li>Flask-WTF</li>
                    <li>flipflop</li>
                    <li>futures</li>
                    <li>guess-language</li>
                    <li>gyp</li>
                    <li>idna</li>
                    <li>infinity</li>
                    <li>intervals</li>
                    <li>ipaddress</li>
                    <li>isort</li>
                    <li>itsdangerous</li>
                    <li>Jinja2</li>
                    <li>keyring</li>
                    <li>keyrings.alt</li>
                    <li>lazy-object-proxy</li>
                    <li>logilab-common</li>
                    <li>Mako</li>
                    <li>MarkupSafe</li>
                    <li>mccabe</li>
                    <li>numpy</li>
                    <li>pbr</li>
                    <li>pycrypto</li>
                    <li>pygobject</li>
                    <li>PyJWT</li>
                    <li>pylint</li>
                    <li>python-dateutil</li>
                    <li>python-dotenv</li>
                    <li>python-editor</li>
                    <li>python-openid</li>
                    <li>pytz</li>
                    <li>pyxdg</li>
                    <li>regex</li>
                    <li>requests</li>
                    <li>SecretStorage</li>
                    <li>singledispatch</li>
                    <li>six</li>
                    <li>SQLAlchemy</li>
                    <li>sqlalchemy-migrate</li>
                    <li>sqlparse</li>
                    <li>Tempita</li>
                    <li>typing</li>
                    <li>tzlocal</li>
                    <li>urllib3</li>
                    <li>validators</li>
                    <li>virtualenv</li>
                    <li>Werkzeug</li>
                    <li>Whoosh</li>
                    <li>wrapt</li>
                    <li>WTForms</li>
                    <li>WTForms-Components</li>
            </ul>
            <br>
            <div class = "list">
                <ul>
                        <img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/512px-HTML5_logo_and_wordmark.svg.png" alt = "HTML5 logo">
                        <img src  = "https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/CSS3_logo_and_wordmark.svg/363px-CSS3_logo_and_wordmark.svg.png" alt = "CSS3 Logo">
                        <img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/JavaScript-logo.png/600px-JavaScript-logo.png" alt = "JS Logo">

                </ul>
            </div>
            <h2>And another big thank you to the graphic designers who designed the iconography:</h2>
            <h3><a href = "https://www.freepik.com/" target = "_blank">freepik</a></h3>
            <ul>
                <a href = "https://www.flaticon.com/free-icon/plus_143510" target = "_blank"><img src = "https://image.flaticon.com/icons/svg/143/143510.svg"></a>
                <a href = "https://www.flaticon.com/packs/avatar-set" target = "_blank"><img src = "https://image.flaticon.com/icons/svg/145/145843.svg"></a>
                <a href = "https://www.flaticon.com/free-icon/voting_1598627#term=poll&page=1&position=8" target = "_blank"><img src = "https://image.flaticon.com/icons/svg/1598/1598627.svg"></a>
            </ul>
            <h3><a href =  "https://www.flaticon.com/authors/nikita-golubev" target = "_blank" >Nikita Golubev</a></h3>
            <ul>
                <a href = "https://www.flaticon.com/free-icon/ballot-box_1750198" target = "_blank"><img src = "https://image.flaticon.com/icons/svg/1750/1750198.svg"></a>
            </ul>
        </div>
</div>

{% endblock %}
