{% extends "base.html" %}
{% block content %}
    <script src = "{{url_for('static', filename = 'scripts/upload.js')}}"></script>
    <div class="form">
    <div class="container">
    <12>Select photo to upload</12>
    <div class="login">
    <p>Accepted formats are jpg, jpeg, png</p>
    <br>
    <form action = "" method = "POST" enctype = "multipart/form-data">
        {{ form.hidden_tag() }}
        <br>
        {{ form.display_picture.label }}
        <br>
        <br>
        {{ form.display_picture }}
        <br>   
        <br> 
        {{ form.submit }}
    </form>
    </div>
    </div>
</div>
{% endblock %}