{% extends "base.html" %}
{% block content %}
    <script>
        let userID = {{user.id}};
        let url = window.location.origin;
    
    </script>
    <script src="{{url_for('static', filename = 'scripts/user.js')}}"></script>
    <img src = "{{user.avatar(128)}}" style = "width:128px; height:128px;" alt = "user avatar" />
    <br>
    {% if user == current_user %}
        <a href = "{{ url_for('upload') }}">Change profile picture</a>
        <br>
        <a href = "{{ url_for('edit_profile') }}">Edit personal description</a>
        {%  if not current_user.get_admin() %}
            <br>
            <a href = "{{url_for('admin')}}">Get admin privileges</a>
        {% endif %}
    {% endif %}
    <h1>User: {{ user.username }}</h1>
    <p>Admin: {{user.get_admin()}}</p>
    {% if user.description %}
        <p> {{ user.description }} </p>
    {% endif %}
    {% if user.last_seen %}
        <p> Last seen: {{ moment(user.last_seen).format("LLL") }}</p>
    {% endif %}
    {% if user.id == current_user.id or current_user.get_admin() %}
        <a href = "{{url_for('delete_user', id = user.id) }}">Delete user</a>
    {% endif %}
    <p>This user has voted in: <span id = "vote-counter"></span> polls</p>
    <hr>
    <div class = "container">
            <div class = "grid-row">
    {% for poll in user.polls %}   
            {% include "_poll.html"  %}
    {% endfor %}
        </div> 
    </div>
{% endblock %}