{% extends "base.html" %}

{% block content %}
    <img src = "{{user.avatar(128)}}" style = "width:128px; height:128px;" alt = "user avatar" />
    <br>
    {% if user.id == current_user.id %}
        <a href = "{{ url_for('upload') }}">I hate my profile picture can I change it?</a>
    {% endif %}
    <h1>User: {{ user.username }}</h1>
    <hr>
    {% for poll in polls %}
    <p>
    <img src = "{{poll.author.avatar(32)}}" style = "width:128px; height:128px;"  alt = "user who made posts avatar" />
    {{ poll.author.username }} says: <b>{{ poll.body }}</b>
    </p>
    {% endfor %}
{% endblock %}